/*primary colors*/
$email-sign-up-background:hsl(217, 28%, 15%);
$main-background:hsl(218, 28%, 13%);
$footer-background:hsl(216, 53%, 9%);
$testimonials-background:hsl(219, 30%, 18%);

//Accent
$cyan-call-to-action-gradient:hsl(176, 68%, 64%);
$blue-call-to-action-gradient:hsl(198, 60%, 50%);

//errors
$error:hsl(0, 100%, 63%);
//Neutral
$White: hsl(0, 0%, 100%);

//Typography
$Font-size: 14px;
$font-weight-lighter:400;
$font-weight-heavy:700;
// Headings, Call-to-actions, Header Navigation
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@100;300&display=swap');

//Body
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&family=Roboto:wght@100;300&display=swap');

/*font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/

//icons

